version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "security"
    ignore:
      - dependency-name: "*"
        update-types:
          - "version-update:semver-major"
    allow:
      - dependency-type: "direct"
      - dependency-type: "development"
    security-updates-only: true  # only security-updates no major version change
