.tech-stack-container {
    padding: 0 20px;
}

.tech-stack {
  background-color: #1a1a1a;
  color: white;
  padding: 4rem 0;
  text-align: center;
  border-radius: 20px;
  max-width: 1000px;
  margin: 0 auto 4rem;
}

.tech-stack h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.tech-title {
  position: relative;
  display: inline-block;
}

.tech-title .underline {
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 3px;
  width: 100%;
  background: #FFC107;;
  transform: scaleX(0);
  transform-origin: left;
}

.tech-logos {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.tech-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.tech-logo img {
  height: 50px;
  width: auto;
}
